body {
  background-image: url(./assets/landing-image.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 2600px;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
}
