<div class="sound-icon">
  <img src="../assets/howl2.png">
</div>
  <div *ngIf="this.showSpin" id="spinner">
  <div id="loader"></div>
</div>
<div class="container">
    <div *ngIf="this.showSearch" class="search">
      <input id="locationSearch" type="text" placeholder=" search city . . ."><br>
      <input id="artistSearch" type="text" placeholder=" search artist . . ."><br>
      <p>start date: <input id="startDate" type="date"></p>
      <p>end date: <input id="endDate" type="date"></p>
      <button class="hvr-pulse" id="go" (click)="getConcerts()" (click)="this.showSearch = false" (click)="showSpin()" type="button"><img src="../assets/horns.png"></button>
    </div>
    <div class="flex-container">
      <div *ngFor="let result of artistsList" class="artist-card">
        <div class="results">
          <ul>
          <li class="artist-title">{{result.title}}</li>
          <li>{{result.name}}</li>
          <li>{{result.artistName}}</li>
          <li>{{result.cityName}}
          {{result.regionAbbr}}, {{result.postalCode}}</li>
        </ul>
        <ul *ngIf="result.exist" class="spotify-box">
            <li><iframe [src]=getSanitzedUrl(result.albumId) width="500" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></li>
        </ul>
      </div>
    </div>
</div>
