<div class="container">
    <div class="search">
      <input id="locationSearch" type="text" placeholder=" search city..."><br>
      <input id="artistSearch" type="text" placeholder=" search artist..."><br>
      <p>start date: <input id="startDate" type="date"></p>
      <p>end date: <input id="endDate" type="date"></p>
      <button id="go" (click)="getConcerts()" type="button">find your gig</button>
    </div>
</div>
<!-- <div *ngFor="let currentResult of results | async" id="results">
  <h2>currentResult.title</h2>
  <p>currentResult.venueAddress</p>
  <p>currentResult.cityName</p>
  <p>currentResult.regionAbbr</p>
  <p>currentResult.postalCode</p>
</div> -->
